# Real Oficial API
REAL_API_EMAIL=
REAL_API_PASSWORD=
REAL_API_TOKEN= # Opcional: use se tiver um token permanente
REAL_API_BASE_URL=https://api.realoficial.com.br/api/v1

# OpenRouter API (AI)
OPENROUTER_API_KEY=
OPENROUTER_MODEL=google/gemini-2.0-flash-lite-001

# Telegram Bot
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# YouTube API
YOUTUBE_CLIENT_SECRET_FILE=client_secret.json

# System Config
MODO_DEFAULT=manual # auto ou manual
CRON_INTERVAL=30 # em minutos
LOG_LEVEL=INFO
DOWNLOAD_PATH=downloads/

# Language
lang=pt-br